USE [master]
GO
/****** Object:  Database [lohu_elearning]    Script Date: 1/2/2026 4:10:34 PM ******/
CREATE DATABASE [lohu_elearning]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lohu_elearning', FILENAME = N'D:\Study\JavaNangCao\finalExam\database\lohu_elearning.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lohu_elearning_log', FILENAME = N'D:\Study\JavaNangCao\finalExam\database\lohu_elearning_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lohu_elearning].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lohu_elearning]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Amount] [bigint] NOT NULL,
	[IsPurchased] [bit] NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChoiceAnswer]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChoiceAnswer](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AnswerContent] [nvarchar](3000) NOT NULL,
	[Image] [nvarchar](1000) NULL,
	[IsCorrect] [bit] NOT NULL,
	[MultipleChoiceQuestionId] [bigint] NOT NULL,
 CONSTRAINT [PK_ChoiceAnswer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashCard]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashCard](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Term] [nvarchar](3000) NOT NULL,
	[Definition] [nvarchar](3000) NOT NULL,
	[Image] [nvarchar](1000) NULL,
	[FlashCardSetId] [bigint] NOT NULL,
 CONSTRAINT [PK_FlashCard] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashCardSet]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashCardSet](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[LearningFolderId] [bigint] NOT NULL,
	[MilestoneId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_FlashCardSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FreeResponseAnswer]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FreeResponseAnswer](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AnswerContent] [nvarchar](4000) NOT NULL,
	[IsSample] [bit] NOT NULL,
	[FreeResponseQuestionId] [bigint] NOT NULL,
 CONSTRAINT [PK_FreeResponseAnswer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FreeResponseQuestion]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FreeResponseQuestion](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionContent] [nvarchar](3000) NOT NULL,
	[Image] [nvarchar](1000) NULL,
	[FreeResponseTestId] [bigint] NOT NULL,
 CONSTRAINT [PK_FreeResponseQuestion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FreeResponseTest]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FreeResponseTest](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Image] [nvarchar](1000) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[LearningFolderId] [bigint] NOT NULL,
	[MilestoneId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_FreeResponseTest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningFolder]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningFolder](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[MilestoneId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_LearningFolder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningRoadmap]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningRoadmap](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_LearningRoadmap] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Milestone]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Milestone](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsFinished] [bit] NOT NULL,
	[LearningRoadmapId] [bigint] NOT NULL,
 CONSTRAINT [PK_Milestone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MultipleChoiceQuestion]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MultipleChoiceQuestion](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionContent] [nvarchar](3000) NOT NULL,
	[Image] [nvarchar](1000) NULL,
	[MultipleChoiceTestId] [bigint] NOT NULL,
 CONSTRAINT [PK_MultipleChoiceQuestion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MultipleChoiceTest]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MultipleChoiceTest](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Audio] [nvarchar](1000) NULL,
	[Image] [nvarchar](1000) NULL,
	[Video] [nvarchar](1000) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[LearningFolderId] [bigint] NOT NULL,
	[MilestoneId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_MultipleChoiceTest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/2/2026 4:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Gender] [bit] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](1000) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[VipExpirationDate] [datetime] NULL,
	[AccountType] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Admin]    Script Date: 1/2/2026 4:10:35 PM ******/
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [IX_Admin] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User]    Script Date: 1/2/2026 4:10:35 PM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [IX_User] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_1]    Script Date: 1/2/2026 4:10:35 PM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [IX_User_1] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_User]
GO
ALTER TABLE [dbo].[ChoiceAnswer]  WITH CHECK ADD  CONSTRAINT [FK_ChoiceAnswer_MultipleChoiceQuestion] FOREIGN KEY([MultipleChoiceQuestionId])
REFERENCES [dbo].[MultipleChoiceQuestion] ([Id])
GO
ALTER TABLE [dbo].[ChoiceAnswer] CHECK CONSTRAINT [FK_ChoiceAnswer_MultipleChoiceQuestion]
GO
ALTER TABLE [dbo].[FlashCard]  WITH CHECK ADD  CONSTRAINT [FK_FlashCard_FlashCardSet] FOREIGN KEY([FlashCardSetId])
REFERENCES [dbo].[FlashCardSet] ([Id])
GO
ALTER TABLE [dbo].[FlashCard] CHECK CONSTRAINT [FK_FlashCard_FlashCardSet]
GO
ALTER TABLE [dbo].[FlashCardSet]  WITH CHECK ADD  CONSTRAINT [FK_FlashCardSet_LearningFolder] FOREIGN KEY([LearningFolderId])
REFERENCES [dbo].[LearningFolder] ([Id])
GO
ALTER TABLE [dbo].[FlashCardSet] CHECK CONSTRAINT [FK_FlashCardSet_LearningFolder]
GO
ALTER TABLE [dbo].[FlashCardSet]  WITH CHECK ADD  CONSTRAINT [FK_FlashCardSet_Milestone] FOREIGN KEY([MilestoneId])
REFERENCES [dbo].[Milestone] ([Id])
GO
ALTER TABLE [dbo].[FlashCardSet] CHECK CONSTRAINT [FK_FlashCardSet_Milestone]
GO
ALTER TABLE [dbo].[FlashCardSet]  WITH CHECK ADD  CONSTRAINT [FK_FlashCardSet_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[FlashCardSet] CHECK CONSTRAINT [FK_FlashCardSet_User]
GO
ALTER TABLE [dbo].[FreeResponseAnswer]  WITH CHECK ADD  CONSTRAINT [FK_FreeResponseAnswer_FreeResponseQuestion] FOREIGN KEY([FreeResponseQuestionId])
REFERENCES [dbo].[FreeResponseQuestion] ([Id])
GO
ALTER TABLE [dbo].[FreeResponseAnswer] CHECK CONSTRAINT [FK_FreeResponseAnswer_FreeResponseQuestion]
GO
ALTER TABLE [dbo].[FreeResponseQuestion]  WITH CHECK ADD  CONSTRAINT [FK_FreeResponseQuestion_FreeResponseTest] FOREIGN KEY([FreeResponseTestId])
REFERENCES [dbo].[FreeResponseTest] ([Id])
GO
ALTER TABLE [dbo].[FreeResponseQuestion] CHECK CONSTRAINT [FK_FreeResponseQuestion_FreeResponseTest]
GO
ALTER TABLE [dbo].[FreeResponseTest]  WITH CHECK ADD  CONSTRAINT [FK_FreeResponseTest_LearningFolder] FOREIGN KEY([LearningFolderId])
REFERENCES [dbo].[LearningFolder] ([Id])
GO
ALTER TABLE [dbo].[FreeResponseTest] CHECK CONSTRAINT [FK_FreeResponseTest_LearningFolder]
GO
ALTER TABLE [dbo].[FreeResponseTest]  WITH CHECK ADD  CONSTRAINT [FK_FreeResponseTest_Milestone] FOREIGN KEY([MilestoneId])
REFERENCES [dbo].[Milestone] ([Id])
GO
ALTER TABLE [dbo].[FreeResponseTest] CHECK CONSTRAINT [FK_FreeResponseTest_Milestone]
GO
ALTER TABLE [dbo].[FreeResponseTest]  WITH CHECK ADD  CONSTRAINT [FK_FreeResponseTest_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[FreeResponseTest] CHECK CONSTRAINT [FK_FreeResponseTest_User]
GO
ALTER TABLE [dbo].[LearningFolder]  WITH CHECK ADD  CONSTRAINT [FK_LearningFolder_Milestone] FOREIGN KEY([MilestoneId])
REFERENCES [dbo].[Milestone] ([Id])
GO
ALTER TABLE [dbo].[LearningFolder] CHECK CONSTRAINT [FK_LearningFolder_Milestone]
GO
ALTER TABLE [dbo].[LearningFolder]  WITH CHECK ADD  CONSTRAINT [FK_LearningFolder_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[LearningFolder] CHECK CONSTRAINT [FK_LearningFolder_User]
GO
ALTER TABLE [dbo].[LearningRoadmap]  WITH CHECK ADD  CONSTRAINT [FK_LearningRoadmap_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[LearningRoadmap] CHECK CONSTRAINT [FK_LearningRoadmap_User]
GO
ALTER TABLE [dbo].[Milestone]  WITH CHECK ADD  CONSTRAINT [FK_Milestone_LearningRoadmap] FOREIGN KEY([LearningRoadmapId])
REFERENCES [dbo].[LearningRoadmap] ([Id])
GO
ALTER TABLE [dbo].[Milestone] CHECK CONSTRAINT [FK_Milestone_LearningRoadmap]
GO
ALTER TABLE [dbo].[MultipleChoiceQuestion]  WITH CHECK ADD  CONSTRAINT [FK_MultipleChoiceQuestion_MultipleChoiceTest] FOREIGN KEY([MultipleChoiceTestId])
REFERENCES [dbo].[MultipleChoiceTest] ([Id])
GO
ALTER TABLE [dbo].[MultipleChoiceQuestion] CHECK CONSTRAINT [FK_MultipleChoiceQuestion_MultipleChoiceTest]
GO
ALTER TABLE [dbo].[MultipleChoiceTest]  WITH CHECK ADD  CONSTRAINT [FK_MultipleChoiceTest_LearningFolder] FOREIGN KEY([LearningFolderId])
REFERENCES [dbo].[LearningFolder] ([Id])
GO
ALTER TABLE [dbo].[MultipleChoiceTest] CHECK CONSTRAINT [FK_MultipleChoiceTest_LearningFolder]
GO
ALTER TABLE [dbo].[MultipleChoiceTest]  WITH CHECK ADD  CONSTRAINT [FK_MultipleChoiceTest_Milestone] FOREIGN KEY([MilestoneId])
REFERENCES [dbo].[Milestone] ([Id])
GO
ALTER TABLE [dbo].[MultipleChoiceTest] CHECK CONSTRAINT [FK_MultipleChoiceTest_Milestone]
GO
ALTER TABLE [dbo].[MultipleChoiceTest]  WITH CHECK ADD  CONSTRAINT [FK_MultipleChoiceTest_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[MultipleChoiceTest] CHECK CONSTRAINT [FK_MultipleChoiceTest_User]
GO
USE [master]
GO
