<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa flash card</title>
</head>
<body>
    <div class="alert alert-danger" role="alert" th:if="${message}" th:text="${message}"></div>
    <div class="d-flex">
        <div th:replace="~{fragments/sidebar :: sidebar()}"></div>
        <div class="container">
            <form enctype="multipart/form-data" th:action="@{/user/flashCardSet/{flashCardSetId}/flashCard/doEdit(flashCardSetId=${flashCardSetId})}" th:method="post" th:object="${flashCardEditRequest}">
                <div>
                    <label th:for="id">Thuật ngữ:</label>
                    <input th:field="*{id}" type="text">
                    <span th:errors="*{id}"></span>
                </div>
                <div>
                    <label th:for="name">Thuật ngữ:</label>
                    <input th:field="*{term}" type="text">
                    <span th:errors="*{term}"></span>
                </div>
                <div>
                    <label th:for="definition">Mô tả:</label>
                    <input th:field="*{definition}" type="text">
                    <span th:errors="*{definition}"></span>
                </div>
                <div>
                    <label th:for="image">Ảnh minh họa:</label>
                    <input th:field="*{image}" type="file" accept="image/*">
                </div>
                <button type="submit">Xác nhận</button>
            </form>
        </div>
    </div>
</body>
</html>